*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #0a0a0a;
}
div{
  height: 25vw;
  width: 70vw; 
  min-width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto; 
}

h1{
  position: relative;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: #000;
  animation: pulse 7s linear infinite;
  font-size: 155px;
  letter-spacing: 0.5px;
  padding: 0 10px;
}

@keyframes pulse{
  10%{
    color: blue;
  }
  20%{
    color: red;
  }
  30%{
    color: orange;
  }
  40%{
    color: yellow;
  }
  50%{
    color: rgb(26, 228, 26);
  }
  60%{
    color: blue;
  }
  70%{
    color: rgb(196, 49, 196);
  }
  80%{
    color: rgb(255, 0, 200);
  }
  90%{
    color: rgb(0, 255, 255);
  }
  100%{
    color: rgb(133, 5, 122);
  }
}

nav {
  /* height: 100vh; */
  width: 70vw; 
  min-width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
}
a {
  position: relative;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: #a0a0a0;
  font-size: 18px;
  letter-spacing: 0.5px;
  padding: 0 10px;
}
.a1:after {
  content: "";
  position: absolute;
  background-color: red;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.a2:after {
  content: "";
  position: absolute;
  background-color: orange;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.a3:after {
  content: "";
  position: absolute;
  background-color: yellow;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.a4:after {
  content: "";
  position: absolute;
  background-color: rgb(26, 228, 26);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.a5:after {
  content: "";
  position: absolute;
  background-color: blue;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.a6:after {
  content: "";
  position: absolute;
  background-color: rgb(196, 49, 196);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

a:hover {
  color: #ffffff;
}
a:hover:after {
  width: 100%;
}